body {
  font-family: "Inria Serif', serif";
  font-size: 1.3rem;
}
.nav-font {
  font-family: "Inknut Antiqua', serif";
}
.navbar {
  background: linear-gradient(rgba(73, 225, 73, 0.862), yellow);
}
/* hero section */
.hero {
  min-height: 60vh;
  font-weight: 600;
  background: linear-gradient(rgba(73, 225, 73, 0.862), yellow);
}
/* titles */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
.title span {
  padding: 0.5rem 2rem;
  border-bottom: 0.4rem solid red;
}
/* icons */
.icons i {
  font-size: 3rem;
}
.icons > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
/* projects */
.projects {
  background: #dde1b0;
}
.projects .row {
  --bs-gutter-x: 0;
}
.projects a {
  color: white;
  text-decoration: none;
}
/* about section */
.about {
  background: linear-gradient(rgba(73, 225, 73, 0.862), rgb(92, 178, 201));
  border-radius: 31px;
}
/* contact */
